<main>
    <h1>My Shopping Cart</h1>
    <section class="fullSection">
        <form #itemForm="ngForm" class="addForm" *ngIf="show" (ngSubmit)="addNewItem(itemForm)">
            <label class="addLabel" for="">Add a Product</label>
            <input class="addInput" type="text" ngModel name="product">
            <label class="addLabel" for="">Item Price</label>
            <input class="addInput" type="text" ngModel name="price">
            <label class="addLabel" for="">Item Quantity</label>
            <input class="addInput" type="number" ngModel name="quantity">
            <button class="addFrmBtn">Add New Item</button>
        </form>
 
        <section class="apiSection">
        <div class="apiDiv" *ngFor="let item of cartlist; index as i">
            <p>Item: {{item.product}}</p>
            <p>Price: {{item.price}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <div class="spanDiv">
            <span (click)="deleteAnItem(item.id)">X</span>
            </div>
            <button class="toggleButton" (click)="toggleForm(i)">change quantity</button>

            <form class="editForm" *ngIf="item.beingUpdated" #updateForm="ngForm" (ngSubmit)="updateAnItem(item)">
                <label for="">Change Quantity</label>
                <input type="number" [(ngModel)]="item.quantity" name="quantity">
                <button>Update Quantity</button>
            </form>
        </div>
    </section>
        <div class="btnDiv">
        <button class="addBtn" (click)="toggleAdd()">Add Item</button>
        </div>
    </section>
</main>